# Backend DB
db/

# PyCharm ide files
.idea

# Swap files for vim
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
