version: '3'

services:
  db:
    image: postgres
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - "5432"
##    environment:
##      - POSTGRES_USER=hello_django
##      - POSTGRES_PASSWORD=hello_django
##      - POSTGRES_DB=hello_django_dev
  core:
    build:
      context: .
      dockerfile: core/Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db